extends layout

block content
  h1= title
  p #{description}
  p= `There is ${prediction}% wastage of Pasta by a person of approximate age and gender ${age} and ${gender} respectively`
  break

  form(method='GET' action='/')
    button.btn.btn-primary(type='submit') Back

